.header {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    height: 40px;
    padding: 20px 25px;

    .burger {
        width: 30px;
        display: inline-block;
    }

    .burger span {
        display: block;
        width: 100%;
        height: 3px;
        background-color: #fff;
        margin: 6px 0;
        transition: .4s;
    }

    .title {
        text-align: center;
        position: relative;
        cursor: pointer;
        width: 200px;
    }
    .dropdown {
        display: none;
        width: 200px;
        left: 0px;
        background-color: rgba(0,0,0, 0.4);
        position: absolute;
        bottom: -90px;
        .option {
            padding: 3px 10px;
        }
        .option:hover {
            background-color: rgba(255,255,255,0.3);
        }
    }
    .show {
        display: block;
    }
}