.container {
    height: 100vh;
    width: 100%;
    color: #fff;
    background-image: linear-gradient(180deg, rgba(50, 94, 189, 0.913603), rgba(25, 107, 138, 0.779149) 60%, rgba(0, 172, 255, 0.319765));
}